.sidenav {
  width: 250px;
  background-color: #1e1e1e;
  color: #008686;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
}

.mat-nav-list {
  padding: 0;
}

.mat-list-item {
  cursor: pointer;
  color: #008686;
}

.mat-list-item:hover {
  background-color: #e3f2fd;
  color: #1e1e1e;
}

.mat-icon {
  color: white;
}

.mat-toolbar button {
  color: white;
}
