<mat-sidenav mode="side" [opened]="true" class="sidenav">
  <mat-toolbar>
    <span>{{'Menu' | translate}}</span>
  </mat-toolbar>

  <mat-nav-list>
    <ng-container *ngFor="let item of sidebarItems">
      <mat-list-item *ngIf="hasAccess(item.roles)" [routerLink]="[item.url]" routerLinkActive="active">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.label | translate }}</span>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</mat-sidenav>

<mat-toolbar>
  <span class="spacer"></span>
  <app-language-selector/>
  <span>{{ name }}</span>
  <button (click)="onLogout()" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
