.vista {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 90vh;
  box-sizing: border-box;
  color: #000;
}

.sprint-list {
  width: 100%;
  max-width: 70%;
  height: auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.sprint-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  transition: 0.2s ease-in-out;
}

.sprint-card:hover {
  cursor: pointer;
  transform: scale(0.995);
}

.sprint-header h3 {
  margin: 0;
  color: #008686;
}

.sprint-content {
  margin-top: 10px;
}

.sprint-content p {
  margin: 4px 0;
  font-size: 14px;
}

button {
  width: 150px;
  padding: 8px;
  color: white !important;
  margin-top: 16px;
}

.btn-cancel {
  background-color: #ff6d5d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-cancel:hover {
  background-color: #ff4b37;
}

@media (max-width: 1919px) {
  .vista {
    margin-left: 0;
    width: 100%;
  }
}
