<div class="vista">
  <div class="sprint-list">
    <h2>{{'Lista-sprints' | translate}}</h2>
    <div *ngFor="let sprint of sprints" class="sprint-card mt-4" (click)="viewSprintDetail(sprint.id)">
      <div class="sprint-header">
        <h3>{{ sprint.name }}</h3>
      </div>
      <div class="sprint-content">
        <p><strong>{{'Fecha-inicio' | translate}}:</strong> {{ sprint.startDate | date }}</p>
        <p><strong>{{'Fecha-fin' | translate}}:</strong> {{ sprint.endDate | date }}</p>
        <p><strong>{{'Tareas-Epicas' | translate}}:</strong> {{ sprint.tasks.length }}</p>
      </div>
    </div>
    <button (click)="createSprint()" class="btn-cancel mt-5">{{'Crear-sprint' | translate}}</button>
  </div>
</div>

