<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

  @if (taskId) {
    <h3 class="text-primary-card">{{'Tarea' | translate}}: #{{ taskId }}</h3>
  }

  <mat-form-field appearance="fill">
    <mat-label>{{'Titulo' | translate}}</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="taskForm.get('title')?.hasError('required')" class="text-error">{{'Titulo-required' | translate}}</mat-error>
    <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')" class="text-error">{{'Min6-required' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="taskForm.get('category')?.value?.name !== 'Épica'">
    <mat-label>{{'Asignado a' | translate}}</mat-label>
    <mat-select formControlName="assignedTo">
      <mat-option *ngFor="let user of users" [value]="user.name">
        {{ user.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="taskForm.get('assignedTo')?.hasError('required')" class="text-error">
      {{'Asginado' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'Prioridad' | translate}}</mat-label>
    <mat-select formControlName="priority">
      <mat-option value="baja">{{'Baja' | translate}}</mat-option>
      <mat-option value="media">{{'Media' | translate}}</mat-option>
      <mat-option value="alta">{{'Alta' | translate}}</mat-option>
    </mat-select>
    <mat-error *ngIf="taskForm.get('priority')?.hasError('required')" class="text-error">{{'Prioridad-required' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'Categoria' | translate}}</mat-label>
    <mat-select formControlName="category" [compareWith]="compareCategories">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>{{'Estado' | translate}}</mat-label>
    <mat-select formControlName="status">
      <mat-option value="pendiente">{{'Pendiente' | translate}}</mat-option>
      <mat-option value="en progreso">{{'En Progreso' | translate}}</mat-option>
      <mat-option value="en pruebas">{{'En Pruebas' | translate}}</mat-option>
      <mat-option value="completada">{{'Completada' | translate}}</mat-option>
    </mat-select>
    <mat-error *ngIf="taskForm.get('status')?.hasError('required')" class="text-error">{{'Estado-required' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="taskForm.get('category')?.value?.name !== 'Épica'">
    <mat-label>{{'Tiempo estimado' | translate}}</mat-label>
    <input matInput formControlName="estimatedTime" placeholder="hh:mm">
    <mat-error *ngIf="taskForm.get('estimatedTime')?.hasError('required')" class="text-error">{{'Tiempo-required' | translate}}</mat-error>
    <mat-error *ngIf="taskForm.get('estimatedTime')?.hasError('pattern')" class="text-error">{{'Formato-incorrecto' | translate}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill" *ngIf="taskForm.get('category')?.value.name === 'Épica'">
    <mat-label>{{'Subtareas' | translate}}</mat-label>
    <mat-select formControlName="subtasks" multiple>
      <mat-option *ngFor="let task of availableTasks" [value]="task.id">
        {{ task.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="taskForm.get('category')?.value?.name !== 'Épica'">
    <mat-label>{{'Descripcion' | translate}}</mat-label>
    <input matInput formControlName="description">
    <mat-error *ngIf="taskForm.get('description')?.hasError('required')" class="text-error">{{'Descripcion-required' | translate}}</mat-error>
    <mat-error *ngIf="taskForm.get('description')?.hasError('minlength')" class="text-error">{{'Min20-required' | translate}}</mat-error>
  </mat-form-field>

  <div class="row d-flex justify-content-center">
    <button mat-button type="submit" [disabled]="taskForm.invalid" class="mt-2 col-6">
      {{ taskId ? ('Actualizar' | translate) : ('Crear' | translate) }}
    </button>
    <button mat-button (click)="goBackButton()" class="mt-2 ms-3 col-6 btn-cancel">
      {{'Cancelar' | translate}}
    </button>
  </div>
</form>
