.sprint-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 90vh;
  box-sizing: border-box;
}

.detail-container {
  width: 100%;
  max-width: 70%;
  height: auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.fechas {
  width: 40%;
  height: 50px;
  border-radius: 8px;
  background-color: #008686;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.medio ul li {
  list-style: none;
}

.tareas, .descripcion {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  background-color: #0086860e;
}



button {
  width: 150px;
  padding: 8px;
  color: white !important;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-delete {
  background-color: #008686;
}

.btn-cancel {
  background-color: #ff6d5d;
}

.btn-cancel:hover {
  background-color: #ff4b37;
}

