<div class="user-detail-container">
  <div class="user-detail">
    <h2 class="text-primary-card mb-4">Detalles de {{user.name}}</h2>
    <p><strong>Identificador:</strong> {{ user.id }}</p>
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Correo:</strong> {{ user.email }}</p>
    <p><strong>Usuario:</strong> {{ user.username }}</p>
    <p><strong>Rol:</strong> {{ user.role.name }}</p>
    <div class="botones d-flex">
      <button (click)="goBack()" class="btn-cancel mt-4">Volver</button>
      <button (click)="goUpdate()" class="btn-update mt-4 ms-3">Actualizar</button>
    </div>
  </div>
</div>
