.user-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 250px);
  padding-left: 250px;
  margin: 0 auto;
  height: 90vh;
  box-sizing: border-box;
  color: black;
}

.user-detail {
  width: 100%;
  max-width: 70%;
  height: auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.text-primary-card {
  color: #008686;
}

button {
  width: 150px;
  padding: 8px;
  color: white !important;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-update {
  background-color: #008686;
}

.btn-cancel {
  background-color: #ff6d5d;
}

.btn-cancel:hover {
  background-color: #ff4b37;
}

@media (max-width: 1919px) {
  .user-detail-container {
    padding-left: 0;
    width: 100%;
  }
}

@media (max-width: 532px) {
  button {
    margin-left: 0 !important;
  }

  .botones {
    display: flex;
    flex-direction: column;
  }
}
