<div class="user-form-container">
  <div class="user-form">
    <div class="user-list">
      <h2 class="mb-5">{{'Lista-usuarios' | translate}}</h2>
      <ul>
        <li *ngFor="let user of users" class="card">
            <p class="mt-2" (click)="viewUserDetail(user.id)">{{ user.name }} - {{ user.email }}</p>
          <button mat-button (click)="deleteUser(user.id)" class="btn-eliminar">{{'Eliminar' | translate}}</button>
        </li>
      </ul>
    </div>
    <button mat-button (click)="createAction()" class="btn-primary">
      {{'Crear-usuario' | translate}}
    </button>
  </div>
</div>
